@tailwind base;
@tailwind components;
@tailwind utilities;

.img200px {
    width: 200px;
}


form:not(.searchForm, .withoutFormStyle) {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: flex-start;
}


h1,
h2,
a,
p,
label,
li,
input[type='submit'],
td {
    color: #fff;
}

select,
option {
    color: #000;
}



input[type=text],
textarea,
select {
    margin-top: 5px;
    width: 370px;
}


h1 {
    font-size: 30px;
}


