@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    margin: 0;
    font-size: 1px;
}

.audio-player {
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
}

header {
    margin-bottom: 20rem;
}

.audio-player audio {
    background: #fff;
    border-top: 3px solid grey;
}

.audio-player audio {
    width: 100%;
}

.audioInfo,
.listeningCount {
    position: absolute;

    padding: 10rem;
    width: 20%;
    text-align: center;
    border-bottom: 6.5px solid grey;
    background: #fff;
}

.audioInfo {
    top: -75.7rem;
    right: 11rem;
}

.listeningCount {
    top: -228%;
    left: 79.2%;
}

.audioInfo h2,
.listeningCount h2 {
    color: #000;
}

.none {
    display: none;
}


.performerName {
    font-size: 36rem;
}

.disks {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10rem;
    justify-content: center;
}

.diskBlock img {
    width: 200rem;
}


h1,
h2,
a,
p,
label,
li,
input[type='submit'],
td {
    color: #fff;
}

select,
option {
    color: #000;
}

.lackOfPlaylists {
    font-size: 8rem;
    display: flex;
    align-items: center;
}

.addSongToPlaylist {
    display: flex;
    align-items: center;
    column-gap: 8rem;
}

.performers,
.genres,
.disks {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20rem;
    padding-top: 30rem;
}

.performerBlock,
.genreBlock,
.diskBlock {
    display: flex;
    justify-content: center;
    column-gap: 10rem;
    width: 100%;
}

.performer,
.genre,
.disk {
    display: block;
    padding: 20rem;
    color: #e5e7eb;
    background: rgb(31 41 55 / var(--tw-bg-opacity, 1));
    border: 1rem solid rgb(75 85 99 / var(--tw-border-opacity, 1));
}


.pagination {
    width: 100%;
}

.pagination p,
.pagination a,
.pagination span {
    font-size: 13rem;
}

.pagination svg {
    width: 20rem;
    height: 20rem;
}

.pagination a {
    padding: 10rem;
    margin-right: 10rem;
    height: 30rem;
}


.pagination span.relative {
    padding: 10rem;
    margin-right: 10rem;
    height: 30rem;
}

main h1 {
    font-size: 17rem;
}


.newsImage {
    width: 10%;
}

.navLinks {
    display: flex;
    column-gap: 20rem;
}

.searchForm {
    display: flex;
    align-items: center;
    column-gap: 10rem;
}

.searchForm input {
    /* position: relative; */
    font-size: 16rem;
    padding: 10rem;
}

.searchSubmit {
    position: relative;
    cursor: pointer;
}

.searchSubmit {
    width: 50rem;
}



.searchSubmit:after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 28rem;
    height: 27rem;
    background-image: url(http://[::1]:5173/resources/img/searchIcon.svg);
    background-size: 28rem;
    background-position: 0 28px;
    transform: translate(50%, -50%);
}

.dropdownMenu button,
.dropdownMenu a {
    font-size: 14rem;
}

.dropdownMenuBlock {
    background: rgb(55 65 81 / var(--tw-bg-opacity, 1));
}

.dropdownMenu a {
    padding: 20rem;
    width: 160rem;
}

.svgArrow svg {
    width: 15rem;
    height: 30rem;
}


.wrapper {
    max-width: 960rem;
    margin: 0 auto;
    padding: 0 10rem;
}


.navLinks a {
    font-size: 14rem;
}

.topline {
    padding: 15rem;
}

.song {
    background: grey;
    border: 3rem solid darkblue;
    border-radius: 4rem;
    display: flex;
    margin-bottom: 5rem;
    align-items: center;
}

.song td:not(:first-child) {
    margin-right: 10rem;
}

.play-cell {
    margin-right: 25rem;
}

#play-button {
    position: relative;
    width: 24px;
    height: 24px;
    background: none;
    border: none;
    cursor: pointer;
}

#play-button::before {
    content: "";
    position: absolute;
    left: 8px;
    top: 6px;
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 10px solid blue;
}

#play-button.playing::before {
    content: "";
    position: absolute;
    left: 6px;
    top: 4px;
    width: 4px;
    height: 16px;
    background: blue;
    box-shadow: 8px 0 0 blue;
    border: none;
}

select {
    all: unset;
    font-size: 16rem;
    height: 23rem;
    width: 140rem;
    border: 3px solid black;
    border-radius: 10rem;
    padding: 4rem;
    text-align: center;
    cursor: pointer;
}

select:hover,
select:focus {
    filter: drop-shadow(2px 4px 6px black);
}
